@use '@/styles/utils' as utils;

:host {
  display: block;
  position: relative;

  // prevent fixed positioning from breaking out
  // https://stackoverflow.com/a/70422489/1146207
  transform: scale(1);
}
