@use '@/styles/utils' as utils;

// prettier-ignore
:host {
  ---wcp-preview-hint-button-passive-background: var(--wcp-preview-hint-button-passive-background, #d22f2f);
  ---wcp-preview-hint-button-active-background: var(--wcp-preview-hint-button-active-background, #dd4f4f);
  ---wcp-preview-hint-button-passive-size: var(--wcp-preview-hint-button-passive-size, 10px);
  ---wcp-preview-hint-button-active-size: var(--wcp-preview-hint-button-active-size, 20px);

  ---wcp-preview-hint-debug-border-width: var(--wcp-preview-hint-debug-border-width, 1px);
  ---wcp-preview-hint-debug-background-opacity: var(--wcp-preview-hint-debug-background-opacity, 0.7);
  
  ---wcp-preview-hint-debug-stripe-distance: var(--wcp-preview-hint-debug-stripe-distance, 10px);
  ---wcp-preview-hint-debug-stripe-tilt: var(--wcp-preview-hint-debug-stripe-tilt, 45deg);
  ---wcp-preview-hint-debug-stripe-width: var(--wcp-preview-hint-debug-stripe-width, 1px);
  ---wcp-preview-hint-debug-stripe-dash-size: var(--wcp-preview-hint-debug-stripe-dash-size, 5px);
  ---wcp-preview-hint-debug-stripe-dash-gap: var(--wcp-preview-hint-debug-stripe-dash-gap, 3px);

  ---wcp-preview-hint-debug-dark-background: var(--wcp-preview-hint-debug-dark-background, #8575ee);
  ---wcp-preview-hint-debug-dark-stroke: var(--wcp-preview-hint-debug-dark-stroke, #5e23aa);
  
  ---wcp-preview-hint-debug-light-background: var(--wcp-preview-hint-debug-light-background, #8575ee);
  ---wcp-preview-hint-debug-light-stroke: var(--wcp-preview-hint-debug-light-stroke, #5e23aa);
}

:host {
  @include utils.color-scheme() using ($color-scheme) {
    ---wcp-preview-hint-debug-background: var(---wcp-preview-hint-debug-#{$color-scheme}-background);
    ---wcp-preview-hint-debug-stroke: var(---wcp-preview-hint-debug-#{$color-scheme}-stroke);
  }

  ---wcp-preview-hint-button-background: var(---wcp-preview-hint-button-passive-background);
  ---wcp-preview-hint-button-size: var(---wcp-preview-hint-button-passive-size);

  position: absolute;
  display: block;
  box-sizing: border-box;
  pointer-events: none;
}

:host(:hover) {
  ---wcp-preview-hint-button-background: var(---wcp-preview-hint-button-active-background);
  ---wcp-preview-hint-button-size: var(---wcp-preview-hint-button-active-size);
}

button {
  all: unset;

  position: absolute;
  inset: 0 0 auto auto;
  transform: translate(50%, -50%);
  z-index: 3;

  display: block;
  aspect-ratio: 1 / 1;
  width: var(---wcp-preview-hint-button-size);

  background-clip: content-box;
  background-color: var(---wcp-preview-hint-button-background);
  border: calc(var(---wcp-preview-hint-button-active-size) - var(---wcp-preview-hint-button-passive-size)) solid
    transparent;
  border-radius: 50%;

  pointer-events: all;
  cursor: pointer;

  transition: var(--wcp-fx-default-duration) ease-out;
  transition-property: background-color, border-width, width;
  will-change: background-color, border-width, width;

  // compensate the border when positioning relative to the parent
  :host([debug]:hover) & {
    top: calc(var(---wcp-preview-hint-debug-border-width) * -1);
    right: calc(var(---wcp-preview-hint-debug-border-width) * -1);
  }
}

:host([debug]:hover) {
  border: var(---wcp-preview-hint-debug-border-width) dashed var(---wcp-preview-hint-debug-stroke);

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
  }

  &::before {
    z-index: 0;
    background-color: var(---wcp-preview-hint-debug-background);
    opacity: var(---wcp-preview-hint-debug-background-opacity);
    mix-blend-mode: multiply;
  }

  &::after {
    z-index: 1;
    // prettier-ignore
    background: repeating-linear-gradient(
      var(---wcp-preview-hint-debug-stripe-tilt),
      transparent,
      transparent var(---wcp-preview-hint-debug-stripe-distance),
      var(---wcp-preview-hint-debug-stroke) var(---wcp-preview-hint-debug-stripe-distance),
      var(---wcp-preview-hint-debug-stroke) calc(var(---wcp-preview-hint-debug-stripe-distance) + var(---wcp-preview-hint-debug-stripe-width))
    );
    // prettier-ignore
    mask-image: repeating-linear-gradient(
      calc(var(---wcp-preview-hint-debug-stripe-tilt) + 90deg),
      transparent,
      transparent var(---wcp-preview-hint-debug-stripe-dash-gap),
      black var(---wcp-preview-hint-debug-stripe-dash-gap),
      black calc(var(---wcp-preview-hint-debug-stripe-dash-gap) + var(---wcp-preview-hint-debug-stripe-dash-size))
    );
  }
}
