@use '@/styles/utils' as utils;

:host {
  ---wcp-input-key-value-gutter: var(--wcp-input-key-value-gutter, #{utils.size(1)});
}

:host {
  grid-template-columns: 1fr 1fr min-content;
  gap: 0 var(---wcp-input-key-value-gutter);
}

input {
  all: unset;
  appearance: none;
  box-sizing: border-box;

  width: 100%;
  color: var(---wcp-input-text-color);
  text-align: left;
}

#input,
#border {
  grid-area: before;
}

.input,
.border {
  grid-area: center;
}
