@use '@/styles/utils' as utils;

// prettier-ignore
:host {
  ---wcp-readme-frame-spacing: var(--wcp-readme-frame-spacing, #{utils.size(1) utils.size(2)});
}

:host {
  display: block;
  padding: var(---wcp-readme-frame-spacing);
}
