@use 'highlight.js/scss/xcode';
@use '@/styles/utils' as utils;

// prettier-ignore
:host {
  ---wcp-preview-frame-background: var(--wcp-preview-frame-background, var(--wcp-color-grey-96));
  ---wcp-preview-frame-border-radius: var(--wcp-preview-frame-border-radius, var(--wcp-border-radius));
  ---wcp-preview-frame-distance: var(--wcp-preview-frame-distance, #{0 utils.size(1)});
  ---wcp-preview-frame-spacing: var(--wcp-preview-frame-spacing, #{0 utils.size(1) utils.size(1)});
  ---wcp-preview-frame-example-spacing: var(--wcp-preview-frame-example-spacing, #{utils.size(2) 0});
  ---wcp-preview-frame-example-border-color: var(--wcp-preview-frame-example-border-color, var(--wcp-color-grey-90));
  ---wcp-preview-frame-example-border-width: var(--wcp-preview-frame-example-border-width, 1px);
}

:host {
  flex: 1 1 auto;
  flex-direction: column;

  display: flex;
  overflow: auto;
  padding: var(---wcp-preview-frame-spacing);

  background-color: var(---wcp-preview-frame-background);

  @include utils.breakpoint(sm) {
    margin: var(---wcp-preview-frame-distance);
    border-top-right-radius: var(---wcp-preview-frame-border-radius);
    border-top-left-radius: var(---wcp-preview-frame-border-radius);
  }
}

wcp-tabs {
  flex: 1 0 auto;

  &::part(tablist) {
    position: sticky;
    top: 0;
    background-color: var(---wcp-preview-frame-background);
  }

  &::part(element-panel:not([hidden])) {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }

  &::part(examples-panel) {
    padding: 0;
  }
}

[slot='examples'] {
  display: flex;
  flex-direction: column;

  section {
    padding: var(---wcp-preview-frame-example-spacing);
  }

  section ~ section {
    border-top: var(---wcp-preview-frame-example-border-width) solid var(---wcp-preview-frame-example-border-color);
  }
}
