@use '@/styles/utils' as utils;

:host {
  ---wcp-radio-menu-label-size: var(--wcp-radio-menu-label-size, var(--wcp-input-label-size, 14px));
  ---wcp-radio-menu-label-spacing: var(--wcp-radio-menu-label-spacing, var(--wcp-input-label-spacing, #{utils.size(1)}));
  ---wcp-radio-menu-option-spacing: var(--wcp-radio-menu-option-spacing, #{utils.size(1)});
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

label {
  display: block;
  margin-bottom: var(---wcp-radio-menu-label-spacing);
  font-size: var(---wcp-radio-menu-label-size);
}

slot {
  display: flex;
  flex-direction: row;
  gap: var(---wcp-radio-menu-option-spacing);
  align-items: center;
  width: fit-content;
}
