@use '@/styles/utils' as utils;

// prettier-ignore
:host {
  ---wcp-viewer-example: var(--wcp-viewer-example, unset);
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

fieldset {
  min-width: 0;
}

wcp-viewer-stage {
  display: block;
  flex: 1 1 auto;
}

wcp-viewer-controls {
  display: block;
  flex: 0 0 auto;
}

wcp-input {
  display: block;
  margin: utils.size(1) 0;
  width: 100%;

  &:not(:last-child) {
    padding-bottom: utils.size(1);
    border-bottom: 1px solid currentColor;
  }

  .description {
    display: block;
    margin: utils.size(0.5) 0 0;
    max-width: 500px;
  }
}
