@use '@/styles/utils' as utils;

// prettier-ignore
:host {
  ---wcp-input-checkbox-border-radius: var(--wcp-input-checkbox-border-radius, var(--wcp-border-radius));
  ---wcp-input-checkbox-label-size: var(--wcp-input-checkbox-label-size, var(--wcp-input-label-size, 14px));
  ---wcp-input-checkbox-label-spacing: var(--wcp-input-checkbox-label-spacing, var(--wcp-input-label-spacing, #{utils.size(1)}));
  ---wcp-input-checkbox-text-spacing: var(--wcp-input-checkbox-label-spacing, var(--wcp-input-label-spacing, #{utils.size(.5)}));
  ---wcp-input-checkbox-size: var(--wcp-input-checkbox-size, #{utils.size(2)});

  ---wcp-input-checkbox-dark-background: var(--wcp-input-checkbox-dark-background, transparent);
  ---wcp-input-checkbox-dark-border: var(--wcp-input-checkbox-dark-border, var(--wcp-color-blue-65));
  ---wcp-input-checkbox-dark-color: var(--wcp-input-checkbox-dark-color, var(--wcp-color-blue-80));

  ---wcp-input-checkbox-light-background: var(--wcp-input-checkbox-light-background, transparent);
  ---wcp-input-checkbox-light-border: var(--wcp-input-checkbox-light-border, var(--wcp-color-blue-20));
  ---wcp-input-checkbox-light-color: var(--wcp-input-checkbox-light-color, var(--wcp-color-blue-17));
}

:host {
  display: flex;
  flex-direction: column;
  gap: var(---wcp-input-checkbox-text-spacing);
  width: fit-content;

  @include utils.color-scheme() using ($color-scheme) {
    ---wcp-input-checkbox-background: var(---wcp-input-checkbox-#{$color-scheme}-background);
    ---wcp-input-checkbox-border: var(---wcp-input-checkbox-#{$color-scheme}-border);
    ---wcp-input-checkbox-color: var(---wcp-input-checkbox-#{$color-scheme}-color);
  }
}

:host(:disabled) {
  opacity: 0.5;
}

:host([checked]) {
  position: relative;

  &::after {
    content: '';
    display: block;
    height: 4px;
    width: 8px;
    
    position: absolute;
    inset: 5px auto auto 4px;
    transform: rotate(-45deg);

    border: solid var(---wcp-input-checkbox-color);
    border-width: 0 0 2px 2px;
    z-index: 1;
  }
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

label {
  display: block;
  margin-left: var(---wcp-input-checkbox-label-spacing);
  font-size: var(---wcp-input-checkbox-label-size);
}

input {
  all: unset;
  appearance: none;
  border-radius: var(---wcp-input-checkbox-border-radius);
  box-sizing: border-box;
  cursor: pointer;
  display: block;

  // as we're using the border to space the check mark with the background,
  // we use the outline as actual border; thus, we have to subtract the width
  // of the outline from the size of the checkbox button and add a padding to
  // compensate for the outline (which is not part of the `border-box`)
  // https://www.w3schools.com/css/css_outline.asp
  height: calc(var(---wcp-input-checkbox-size) - 2px);
  width: calc(var(---wcp-input-checkbox-size) - 2px);
  padding: 2px;
  background-color: var(---wcp-input-checkbox-background);
  border: 2px solid var(---wcp-input-checkbox-border);

  &:checked {
    border-width: 2px;
  }
}
