@use '@/styles/utils' as utils;

// prettier-ignore
:host {
  ---wcp-button-dark-passive-background: var(--wcp-button-dark-passive-background, transparent);
  ---wcp-button-dark-passive-border-color: var(--wcp-button-dark-passive-border-color, var(--wcp-color-blue-96));
  ---wcp-button-dark-passive-color: var(--wcp-button-dark-passive-color, var(--wcp-color-blue-96));

  ---wcp-button-dark-hover-background: var(--wcp-button-dark-hover-background, var(--wcp-color-blue-96));
  ---wcp-button-dark-hover-border-color: var(--wcp-button-dark-hover-border-color, var(--wcp-color-blue-96));
  ---wcp-button-dark-hover-color: var(--wcp-button-dark-hover-color, var(--wcp-color-blue-17));

  ---wcp-button-dark-active-background: var(--wcp-button-dark-active-background, var(--wcp-color-blue-96));
  ---wcp-button-dark-active-border-color: var(--wcp-button-dark-active-border-color, var(--wcp-color-blue-96));
  ---wcp-button-dark-active-color: var(--wcp-button-dark-active-color, var(--wcp-color-blue-17));

  ---wcp-button-light-passive-background: var(--wcp-button-light-passive-background, transparent);
  ---wcp-button-light-passive-border-color: var(--wcp-button-light-passive-border-color, var(--wcp-color-blue-17));
  ---wcp-button-light-passive-color: var(--wcp-button-light-passive-color, var(--wcp-color-blue-17));

  ---wcp-button-light-hover-background: var(--wcp-button-light-hover-background, var(--wcp-color-blue-17));
  ---wcp-button-light-hover-border-color: var(--wcp-button-light-hover-border-color, var(--wcp-color-blue-17));
  ---wcp-button-light-hover-color: var(--wcp-button-light-hover-color, var(--wcp-color-blue-96));

  ---wcp-button-light-active-background: var(--wcp-button-light-active-background, var(--wcp-color-blue-17));
  ---wcp-button-light-active-border-color: var(--wcp-button-light-active-border-color, var(--wcp-color-blue-17));
  ---wcp-button-light-active-color: var(--wcp-button-light-active-color, var(--wcp-color-blue-96));
}

// map interactions to button states and color schemes
:host {
  @include utils.color-scheme() using ($color-scheme) {
    ---wcp-button-background: var(---wcp-button-#{$color-scheme}-passive-background);
    ---wcp-button-border-color: var(---wcp-button-#{$color-scheme}-passive-border-color);
    ---wcp-button-color: var(---wcp-button-#{$color-scheme}-passive-color);
  }
}

:host(:enabled:hover) {
  @include utils.color-scheme() using ($color-scheme) {
    ---wcp-button-background: var(---wcp-button-#{$color-scheme}-hover-background);
    ---wcp-button-border-color: var(---wcp-button-#{$color-scheme}-hover-border-color);
    ---wcp-button-color: var(---wcp-button-#{$color-scheme}-hover-color);
  }
}

:host(:enabled:active) {
  @include utils.color-scheme() using ($color-scheme) {
    ---wcp-button-background: var(---wcp-button-#{$color-scheme}-active-background);
    ---wcp-button-border-color: var(---wcp-button-#{$color-scheme}-active-border-color);
    ---wcp-button-color: var(---wcp-button-#{$color-scheme}-active-color);
  }
}

:host(:enabled.active) {
  @include utils.color-scheme() using ($color-scheme) {
    ---wcp-button-background: var(---wcp-button-#{$color-scheme}-active-background);
    ---wcp-button-border-color: var(---wcp-button-#{$color-scheme}-active-border-color);
    ---wcp-button-color: var(---wcp-button-#{$color-scheme}-active-color);
  }
}

:host {
  display: inline-block;
  max-width: 100%;
  width: fit-content;
}

:host(:not([kind='icon'])[stretched]) {
  width: 100%;
}

.button {
  all: unset;
  appearance: none;

  box-sizing: border-box;
  display: block;
  width: 100%;

  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;

  cursor: pointer;
  transition: ease-in-out var(--wcp-fx-default-duration);
  transition-property: background-color, color, opacity;

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  :host(:not([kind='icon'])) & {
    padding: 0.5em 1em;

    background-color: var(---wcp-button-background);
    border: var(---wcp-button-border-color) 1px solid;
    color: var(---wcp-button-color);
  }

  :host([kind='icon']) & {
    aspect-ratio: 1;
    padding: utils.size(1);
    position: relative;

    font-size: 0;
    line-height: 0;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 50%;

      transition: ease-in-out var(--wcp-fx-default-duration);
      transition-property: background-color, opacity;

      background-color: var(---wcp-button-background);
      opacity: 0.15;
    }
  }

  :host([kind='icon']:enabled:active) &,
  :host([kind='icon']:enabled.active) & {
    &::before {
      opacity: 0.3;
    }
  }

  :host([nowrap]) & {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
  }
}
