@use 'css.gg/icons/icons.css';

:host {
  ---wcp-icon-size: var(--wcp-icon-size, 22);
  --ggs: calc(var(---wcp-icon-size) / 22);
}

:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: calc(var(---wcp-icon-size) * 1px);
  width: calc(var(---wcp-icon-size) * 1px);
}

i {
  flex: 0 0 auto;
}
