@use '@/styles/utils' as utils;

:host {
  ---wcp-preview-menu-dark-border-color: var(--wcp-frame-menu-dark-border-color, var(--wcp-color-grey-24));
  ---wcp-preview-menu-light-border-color: var(--wcp-frame-menu-light-border-color, var(--wcp-color-grey-65));
}

:host {
  display: block;
  position: relative;
  min-height: utils.size(4.2);

  @include utils.color-scheme() using ($color-scheme) {
    ---wcp-preview-menu-border-color: var(---wcp-preview-menu-#{$color-scheme}-border-color);
  }
}

:host {
  display: flex;
  flex-direction: column-reverse;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 utils.size(1);

  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(---wcp-preview-menu-border-color);
}

.plugin:not([available]) {
  display: none;
}

hr {
  margin: 0;
  padding: 0;
  height: utils.size(2.2);
  width: 1px;

  background-color: var(---wcp-preview-menu-border-color);
  border: 0;

  &:has(+ .plugin:not([available])) {
    display: none;
  }
}

section {
  position: relative;
  isolation: isolate;
  padding: 10px;
}

#wrapper {
  position: relative;
  margin: 0 auto;
}

#stage {
  display: block;
  contain: content;
  isolation: isolate;
  overflow: auto;
}
