@use '@/styles/utils' as utils;

// prettier-ignore
:host {
  ---wcp-preview-controls-height: var(--wcp-preview-controls-height, #{utils.size(5)});
  ---wcp-preview-controls-spacing: var(--wcp-preview-controls-spacing, #{utils.size(.5) utils.size(1)});
  ---wcp-preview-controls-background: var(--wcp-preview-controls-background, var(--wcp-color-blue-34));
  ---wcp-preview-controls-color: var(--wcp-preview-controls-color, var(--wcp-color-blue-96));
}

:host {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;

  box-sizing: border-box;
  height: var(---wcp-preview-controls-height);
  padding: var(---wcp-preview-controls-spacing);

  background-color: var(---wcp-preview-controls-background);
  color: var(---wcp-preview-controls-color);
}
