@use '@/styles/utils' as utils;

// prettier-ignore
:host {
  --wcp-base-size: 10px;
  --wcp-border-radius: calc(var(--wcp-base-size) * 0.5);

  --wcp-color-grey-100:  hsl(0, 0%, 100%);
  --wcp-color-grey-96:  hsl(0, 0%, 96%);
  --wcp-color-grey-90:  hsl(0, 0%, 90%);
  --wcp-color-grey-80:  hsl(0, 0%, 80%);
  --wcp-color-grey-24:  hsl(0, 0%, 24%);
  --wcp-color-grey-17:  hsl(0, 0%, 17%);

  --wcp-color-blue-13: hsl(225, 6%, 13%);
  --wcp-color-blue-17: hsl(215, 28%, 17%);
  --wcp-color-blue-20: hsl(217, 19%, 20%);
  --wcp-color-blue-24: hsl(217, 19%, 24%);
  --wcp-color-blue-27: hsl(217, 19%, 27%);
  --wcp-color-blue-34: hsl(215, 14%, 34%);
  --wcp-color-blue-55: hsl(215, 14%, 55%);
  --wcp-color-blue-65: hsl(218, 11%, 65%);
  --wcp-color-blue-91: hsl(220, 13%, 91%);
  --wcp-color-blue-93: hsl(220, 13%, 93%);
  --wcp-color-blue-96: hsl(220, 14%, 96%);

  --wcp-fx-default-duration: 0.2s;
  --wcp-fx-layout-duration: 0.4s;

  --wcp-font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
}

// prettier-ignore
:host {
  ---wcp-root-dark-background: var(--wcp-root-dark-background, var(--wcp-color-blue-24));
  ---wcp-root-dark-color: var(--wcp-root-dark-color, var(--wcp-color-grey-96));

  ---wcp-root-light-background: var(--wcp-root-light-background, var(--wcp-color-blue-34));
  ---wcp-root-light-color: var(--wcp-root-light-color, var(--wcp-color-grey-96));

  @include utils.color-scheme() using ($color-scheme) {
    ---wcp-root-background: var(---wcp-root-#{$color-scheme}-background);
    ---wcp-root-color: var(---wcp-root-#{$color-scheme}-color);
  }
}

:host {
  display: block;

  background-color: var(---wcp-root-background);
  color: var(---wcp-root-color);
  
  font-family: var(--wcp-font-family);
  font-feature-settings: normal;
  font-size: 20px;
  line-height: 1.3;


  @include utils.breakpoint(sm) {
    font-size: 13px;
  }
}

:host(:not([inline])) {
  height: 100vh;
  width: 100vw;
}

wcp-button {
  @include utils.breakpoint(sm) {
    display: none;
  }
}
