@use '@/styles/utils' as utils;

// prettier-ignore
:host {
  ---wcp-navigation-item-spacing: var(--wcp-navigation-item-spacing, #{utils.size(.75) utils.size(2)});
  
  ---wcp-navigation-item-passive-background: var(--wcp-navigation-item-passive-background, transparent);
  ---wcp-navigation-item-passive-color: var(--wcp-navigation-item-passive-color, inherit);
  
  ---wcp-navigation-item-hover-background: var(--wcp-navigation-item-hover-background, var(--wcp-color-blue-24));
  ---wcp-navigation-item-hover-color: var(--wcp-navigation-item-hover-color, inherit);
  
  ---wcp-navigation-item-active-background: var(--wcp-navigation-item-active-background, var(--wcp-color-blue-27));
  ---wcp-navigation-item-active-color: var(--wcp-navigation-item-active-color, inherit);
}

:host(:not([active])) {
  ---wcp-navigation-item-background: var(---wcp-navigation-item-passive-background);
  ---wcp-navigation-item-color: var(---wcp-navigation-item-passive-color);
}

:host([active]) {
  ---wcp-navigation-item-background: var(---wcp-navigation-item-active-background);
  ---wcp-navigation-item-color: var(---wcp-navigation-item-active-color);
}

:host(:not([active])) a:hover {
  ---wcp-navigation-item-background: var(---wcp-navigation-item-hover-background);
  ---wcp-navigation-item-color: var(---wcp-navigation-item-hover-color);
}

a,
span {
  display: block;
  padding: var(---wcp-navigation-item-spacing);

  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: var(---wcp-navigation-item-background);
  color: var(---wcp-navigation-item-color);
}
