@use '../functions/size.function' as *;

@mixin custom-scrollbar($pseudo: before, $level: 1) {
  scrollbar-color: var(--wcp-color-blue-34) transparent;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--wcp-color-blue-34);
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    display: none;
    background-color: transparent;
  }

  // allow overrides in correct order, thus, the
  // position of the mixin usage is not relevant
  @content;
}
