@use '@/styles/utils' as utils;

:host {
  --wcp-editable-hint-size: var(--wcp-input-code-hint-size);
  --wcp-editable-label-size: var(--wcp-input-code-label-size);
  --wcp-editable-spacing: var(--wcp-input-code-spacing);

  --wcp-editable-passive-border-radius: var(--wcp-input-code-border-radius);
  --wcp-editable-passive-border-size: var(--wcp-input-code-border-size);

  --wcp-editable-active-border-radius: var(--wcp-input-code-border-radius);
  --wcp-editable-active-border-size: var(--wcp-input-code-border-size);

  --wcp-editable-dark-background: var(--wcp-input-code-dark-background);
  --wcp-editable-dark-border: var(--wcp-input-code-dark-border);
  --wcp-editable-dark-color: var(--wcp-input-code-dark-color);

  --wcp-editable-light-background: var(--wcp-input-code-light-background);
  --wcp-editable-light-border: var(--wcp-input-code-light-border);
  --wcp-editable-light-color: var(--wcp-input-code-light-color);
}

.editor {
  grid-area: center;

  aspect-ratio: 16 / 9;
  box-sizing: border-box;
  max-height: 200px;
  width: 100%;

  transition: opacity var(--wcp-fx-default-duration) ease-out;
  will-change: opacity;

  .monaco-editor {
    --vscode-editor-background: var(---wcp-editable-background);
    --vscode-editorGutter-background: var(---wcp-editable-background);
  }

  :host([autosize]) & {
    height: var(---wcp-input-code-height, auto);
    min-height: 18px;
  }

  :host([disabled]) & {
    opacity: 0.5;
    pointer-events: none;
  }
}

#internal {
  display: none;
}
