@use '@/styles/utils' as utils;

// prettier-ignore
:host {
  ---wcp-tabs-tablist-gap: var(--wcp-tabs-tablist-gap, #{utils.size(1)});
  ---wcp-tabs-tablist-spacing: var(--wcp-tabs-tablist-spacing, 0);
  ---wcp-tabs-tab-spacing: var(--wcp-tabs-tab-spacing, #{utils.size(1) utils.size(1) utils.size(.5)});
  ---wcp-tabs-tab-active-border-width: var(--wcp-tabs-active-tab-border-width, 3px);
  ---wcp-tabs-panel-spacing: var(--wcp-tabs-panel-spacing, #{utils.size(1)});
  
  ---wcp-tabs-tablist-dark-border-color: var(--wcp-tabs-tablist-dark-border-color, var(--wcp-color-grey-24));
  ---wcp-tabs-tab-active-dark-border-color: var(--wcp-tabs-active-tab-border-color, var(--wcp-color-blue-55));
  
  ---wcp-tabs-tablist-light-border-color: var(--wcp-tabs-tablist-light-border-color, var(--wcp-color-grey-80));
  ---wcp-tabs-tab-active-light-border-color: var(--wcp-tabs-active-tab-border-color, var(--wcp-color-blue-65));

  @include utils.color-scheme() using ($color-scheme) {
    ---wcp-tabs-tablist-border-color: var(---wcp-tabs-tablist-#{$color-scheme}-border-color);
    ---wcp-tabs-tab-active-border-color: var(---wcp-tabs-tab-active-#{$color-scheme}-border-color);
  }
}

:host {
  display: flex;
  flex-direction: column;
}

nav {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;

  gap: var(---wcp-tabs-tablist-gap);
  padding: var(---wcp-tabs-tablist-spacing);

  border-bottom: 1px solid var(---wcp-tabs-tablist-border-color);
}

button {
  all: unset;
  appearance: none;
  padding: var(---wcp-tabs-tab-spacing);

  border-bottom: var(---wcp-tabs-tab-active-border-width) solid transparent;
  transition: border-bottom-color var(---wcp-fx-default-duration) ease-in-out;
  will-change: border-bottom-color;

  &:enabled {
    cursor: pointer;

    &[aria-selected='true'] {
      border-bottom-color: var(---wcp-tabs-tab-active-border-color);
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}

[role='tabpanel'] {
  flex: 1 0 auto;
  padding: var(---wcp-tabs-panel-spacing);
  overflow: auto;
}
